<?xml version="1.0"?>
<model>
  <name>vtol_gimbal</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Beniamino Pozzan</name>
    <email>beniamino.pozzan@gmail.com</email>
  </author>
  <description>Model of the standard vtol with a camera attached on a gimbal.</description>
</model>
